$color-bg: rgb(41, 50, 71);
$color-bg-dark: hsl(222, 27%, 20%);

$white-transparent-005: rgba(255, 255, 255, 0.05);
$white-transparent-04: rgba(255, 255, 255, .4);
$white-transparent-07: rgba(255, 255, 255, .7);
$white-transparent-09: rgba(255, 255, 255, .9);

$color-primary: #DA503D;
$color-primary-08: #E27869;
$color-primary-transparent-75: rgba(218, 80, 61, .75)
