@import '../abstracts/typo.scss';

h6 {
  margin: 0;
  padding: 0;
  line-height: .5rem;
  font-size: .7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p {
  font-size: .9rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin: .3rem 0 0 0;
  padding: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: .3rem 0 0 0;
  padding: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20vw;
  margin: .3rem 0 0 0;
  padding: 0;
}
