@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

.about-wrapper {
  // position: relative;
  height: 100vh;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  h1 {
    color: $color-primary;
  }

  h2 {
    color: $color-primary-transparent-75;
  }

  h1, h2 {
    text-align: center;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, h2 {
    display: none;
  }

  img {
    margin: 2rem auto;
    width: 30vh;
    height: 30vh;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 7px solid $color-primary;
    border-radius: 35% 65% 58% 42% / 30% 44% 56% 70%
  }
}

.about-text-wrapper {
  width: 60vw;
  color: $white-transparent-09;

  h1, h2 {
    text-align: center;
  }

  h1 {
  }

  p {
    margin-top: 1rem;
    text-align: justify;
  }
}

@media (min-width: 765px) {
  .mobile-title {
    display: none;
  }

  .about-container {
    flex-direction: row;

    img {
      margin-top: 0;
    }

    h1, h2 {
      display: block;
      text-align: start;
    }

    h1, h2 {
      margin: 0 2rem;
    }

    p {
      margin: 2rem;
      padding-right: 3.5rem;
    }
  }
}
