@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

.logoWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  background-color: $color-bg;
  position: absolute;
  z-index: -10;

  h3 {
    text-transform: uppercase;
    line-height: 18vw;
    color: $white-transparent-005;
  }

  h3:first-child {
    letter-spacing: .9vw;
    // margin-top: -20vh;
  }

  h3:last-child {
    letter-spacing: -0.5vw;
  }
}
