@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

.background-container {
  position: absolute;
  top: 100;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  background-color: $color-bg;
}

.logo-wrapper {

  p {
    text-transform: uppercase;
    line-height: 18vw;
    color: $white-transparent-005;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20vw;
    margin: .3rem 0 0 0;
    padding: 0;
  }

  p:first-child {
    letter-spacing: .9vw;
  }

  p:last-child {
    letter-spacing: -0.5vw;
  }
}
