@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

.sideMenu-container {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
}

.link-wrapper {
  transform: rotate(.25turn);
  position: absolute;
  top: 200px;
  right: -125px;
  display: flex;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  a h6 {
    padding: 0 .8rem;
  }

  a:last-child {
    margin-left: 20px;
  }
}
