@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

* {
  box-sizing: border-box;
}

.galery-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100%;
  background-image: linear-gradient(to bottom, $color-bg-dark, $color-bg 20%);
  display: flex;
  flex-direction: column;

  h2, .element-container {
    width: 100%;
    padding: 0 10vw;
  }

  h2 {
    margin: 5rem 0 2rem;
    // padding-top: 3rem;
  }
}

.element-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 2vw;
  row-gap: 5rem;
}

.test {
  background-color: red;
}

.galery-element {
  min-width: auto;
  aspect-ratio: 3/2;
  background-color: $white-transparent-005;
 }

// TO DO: add a scroll snap

@media (min-width: 765px) {
  .galery-wrapper h2, .element-container {
    width: 80vw
  }
}
