@import '../abstracts/typo.scss';
@import '../layout/colors.scss';

* {
  box-sizing: border-box;
}

.galery-wrapper {
  width: 100%;
  background-image: linear-gradient(to bottom, $color-bg-dark, rgba(255, 255, 255, 0) 20%);

  h2 {
    width: 100%;
    padding: 4rem 10vw 0;
    margin-bottom: 2.5rem;
  }

  .card-wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

.card {
  width: 100%;
  margin: 4rem auto;

  .image-wrapper {
    width: 100%;
    aspect-ratio: 3/2;
    overflow: hidden;
    // display: grid;
    // place-items: center;
    position: relative;
  }

  img {
    // display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  .card-info {
    background-color: $color-secondary-70;
    opacity: .6;
    padding: 1rem;
  }

  .card-info h4 {
    margin-bottom: .5rem;
  }

  h4, p {
    color: $color-bg;
  }
}
@media (min-width: 765px) {
  .card {
    position: relative;
    background-color: $color-bg;
  }
  .card-info {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    h4 {
      font-size: 4rem;
    }

    h4, p {
      color: whitesmoke;
    }
  }
  .card:hover {
    img {
      // need a container for the div to keep edges sharp while image is blurred
      // image in the container needs to be >100% and container overflow hidden
      filter: grayscale(60%) blur(2px) saturate(75%);
      width: 105%;
      height: 105%;
      // margin: 2.5%;
      transition: all 1s ease;
    }

    .card-info {
      padding: 3rem 1rem 2rem;
      display: block;
      color: whitesmoke;
      background-color: $color-bg;
      opacity: .8;
    }
  }

}
