@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat/static/Montserrat-Black.ttf') format('ttf');
  font-weight: 900;
};

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf') format('ttf');
  font-weight: 300;
}
